@using weather_api_blazor.Components.Layout

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <!-- Bootstrap first -->
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />

    <!-- Your custom styles -->
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["weather_api_blazor.styles.css"]" />

    <link rel="icon" type="image/png" href="favicon.png" />

</head>

<body>
<Routes />

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p class="text-danger text-center mt-4">Page not found</p>
        </LayoutView>
    </NotFound>
</Router>

<script src="_framework/blazor.web.js"></script>
</body>
</html>